# Keycloak Configuration
PUBLIC_KEYCLOAK_URL=https://your-keycloak-domain.com
PUBLIC_KEYCLOAK_REALM=your-realm
PUBLIC_KEYCLOAK_CLIENT_ID=your-client-id

# API Configuration
PUBLIC_API_URL=https://localhost:8443
